[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/jenlynch
[access "refs/for/refs/*"]
	read = group user/jenlynch
	push = group user/jenlynch
	label-Code-Review = -2..+2 group user/jenlynch
	label-Verified = -1..+1 group user/jenlynch
	rebase = group user/jenlynch
	removeReviewer = group user/jenlynch
	submit = group user/jenlynch
[access "refs/heads/*"]
	read = group user/jenlynch
	create = group user/jenlynch
	push = +force group user/jenlynch
	pushMerge = group user/jenlynch
[access "refs/tags/*"]
	push = +force group user/jenlynch
	pushTag = group user/jenlynch
	pushSignedTag = group user/jenlynch
